*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Eb Garamond"; */
    
    color: black;

}
.navbar{
    box-shadow: 0px 8px 2px -6px rgba(255,255,255);
  color:black;
  
    }
nav .navbar-nav li a{
  color: black !important;
  }
a{
      font-size:19px ;
  }

#navBarSearchForm {
width:430px !important;


}
.search,.butt{

  
  margin-right: 8px;
  border-radius: 0px;
}
.recommendations{
  padding-left:5%;
  padding-top:2%;

}
.cardrecommendations{
  margin-top: 1%;
  margin-bottom: 2%;
  border-radius: 0px;
  box-shadow:none;
  margin-right: 3%;
  border-color: rgba(198,151,56,0.75) ;
  box-shadow: 0 1px 10px rgba(198,151,56,0.15);
   transition: all 0.3s ease-in-out;


  
}
.card-img-top{
 border-radius: 0px; 
}
.cardrecommendations::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;

  box-shadow: 0 5px 15px rgba(198,151,56, 0.15);

  transition: opacity 0.4s ease-in-out;
}
.cardrecommendations:hover {
   transform: scale(1.05, 1.05);
  /* box-shadow: 0 0 11px rgba(235, 231, 25, 0.2);  */
}
.cardrecommendations:hover::after {
  opacity: 1;
}

.card-body{
  border-color: rgba(198,151,56,0.75) ;
}
.card-img-top {
    /* width: 100%; */
    height: 200px;
    object-fit: cover;
}
.wishlist{
  margin-top: 25.5%;
  border-radius: 0px;
  border: 2px solid  rgba(198,151,56,0.75) ;
}
.card-header{
  height: 60px;
  
  color: white;
  border-width: 3px;
  text-align: left;
  border-radius: 0px;
 
}
.list-group-item{
  
  color: white;
  border: 2px solid  rgba(198,151,56,0.7);
  /* border-color: white; */
}

.col-9{

    width: 70%;
}

.wishlist .list-group-item{
font-size:20px ;
}
.wishlist .card-text{
font-size: 16px;
}
.btn-group{
  font-size: 15px;display: inline-block; padding: 7px;
  border-color:  rgba(198,151,56,0.75);
  

}
.card-header:first-child {
    border-radius: 0px;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.dropdown-item{
background-color:  rgb(198,151,56);

}