/* canvas{

    width:800px !important;
    height:400px !important;
  
  } */

  .chart-container {
    width: 600px;
    height:400px;
    margin:auto;
    margin-top: 20px;
}

.container{
    margin-top:7%;
    width:60%;
}

.card{
    width:80%;
    margin:auto;
}
