*{
    font-family: Poppins;
  }
  a{
     
    text-decoration: none!important;
  }
  
  .animatedimage {
    position: relative;
    padding-top: 2%;
  }
  
  .invest {
    position: absolute;
    top: 18%;
    left: 5%;
    font-size: 72px;
    font-family: Poppins;
    font-weight: bold;
    
    color: #F5F5F5;
    padding-left: 20px;
    padding-right: 20px;
    
  }
  .animatedtext {
    position: absolute;
    top: 27%;
    left: 5%;
    font-size: 72px;
    font-family: Poppins;
    font-weight: bold;
    animation: topToBottom 3s linear infinite;
  
      opacity: 0;
    
    color: #F5F5F5;
    padding-left: 20px;
    padding-right: 20px;
    
    /* animation: 2s anim-lineUp ease-out infinite; */
    
  }
  
  
  .animatedtext:nth-child(3){
    animation-delay: 0s;
  }
  .animatedtext:nth-child(4){
    animation-delay: 1.5s;
  }
  /* .animatedtext:nth-child(5){
  
    animation-delay: 5s;
  }
  .animatedtext:nth-child(6){
  
  
    animation-delay: 7.5s;
  } */
  
  @keyframes topToBottom{
      0% { opacity: 0; }
      5% { opacity: 0; transform: translateY(-50px); }
      /* 10% { opacity: 1; transform: translateY(0px); } */
      25% { opacity: 1; transform: translateY(0px); }
      30% { opacity: 0; transform: translateY(50px); }
      /* 80% { opacity: 0; } */
      100% { opacity: 0; }
  }
  
  .textRemoda{
    
    text-align: center;
    margin: auto;
    width: 50%;
    padding-left: 10%;
  }
  
  .whyinvest{
   
    margin: auto;
    text-align: left;
    width: 50%;
    padding-left: 10%;
  }
  .whychooseus{
    text-align: center;
  }
  .card{
    
  }
  .card-header{
  background-color: #fdd0d0;;
  }
  
  .btn11 .btn1{
    padding: 8%;
    background-color: #A26028;
    color: white;
    
  }