{% extends "property/base.html"%}
<!-- <div class="container " style="background-color:green;"> -->
{% load static %} 

{% block styles %}
<link rel="stylesheet" href="{% static 'property/invest.css' %}" />
{% endblock %} 

{% block navbar %}

{% endblock navbar %}

{% block content %}
<section >
    <div class="chart-container">
        <h2 style="text-align: center;">ABCD</h2>
        <h5 style="text-align: center;">Rs. 1234</h5>
        <canvas id="myChart"></canvas>
    </div>
       
</section>

{% endblock content %}

{% block scripts%}
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{labels|safe}},
        datasets: [{
            label: 'Price over time',
            data: {{data|safe}},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        
        maintainAspectRatio: false,
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
<script>
const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>    
{% endblock scripts%}