{% extends "property/base.html"%}
{% load static %} 
    {% block styles %}
    <link rel="stylesheet" href="{% static 'property/investments.css' %}" />
    {% endblock %} 
{% block content %}

<table class="table table-bordered table-hover ">
    <thead>
    <tr class="text-center">
    <th>Property Name</th>
    <th>Purchase Price</th>
    <th>Purchase date</th>
    <th>Current price</th>
    <th>Profit/loss</th>
    <!-- <th>Increase</th> -->
  
    
  </tr>
    </thead>
    <tbody>   

   
   {% for inv,pro in pl %}
    
   <tr class="clickable text-center" >
       <td> {{ pro.property_name }} </td>
       <td> {{ investor.purchase_price }} </td>
       <td> {{ investor.date }} </td>
       <td>{{ pro.current_price }} </td>
       <td>{{inv}}</td>
      
       
    </tr>
  {% endfor %}
  </tbody>
   </table>
{% endblock content %}